div:hover {
    border: 0.5px solid black;
}
div:nth-of-type(1) {
    background-color: #284B63;
}
div:nth-of-type(2) {
    background-color: #D9D9D9;
}
div:nth-of-type(3) {
    background-color: #3C6E71;
}
div:nth-of-type(4) {
    background-color: #353535;
}
div:nth-of-type(5) h3{
    background-color: #81929E;
}

div:nth-of-type(1) > h3{
    color: white;
    font-size: 12px;
    font-style: normal;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
div:nth-of-type(2) > h3{
    color: green;
    font-size: 18px;
    font-style: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
div:nth-of-type(3) > h3{
    color: yellow;
    font-size: 50px;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
}
div:nth-of-type(4) > h3{
    color: red;
    font-size: 20px;
    font-style: normal;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
div:nth-of-type(5) > h3{
    color: blue;
    font-size: 30px;
    font-style: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

div:nth-of-type(odd) h3 {
    font-style: italic;
}